.big-screen {
  position: fixed;
  display: flex;
  top: -200;
  transition: top 0.3s ease;
  width: 100%;
  z-index: 200;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: #E5E5E5;
}

.logo {
  margin-top: 2%;
  margin-left: 2%;
  width: 10%;
}

.nav {
  display: flex;
  margin: 10px;
  margin-top: 2%;
  margin-right: 2%;
  width: auto;
}

h1 {
  font-size: 4rem;
  text-align: start;
  color: #EE53CC;
  padding-left: 7%;
  margin-left: 10%;
}

h2 {
  text-align: start;
  color: #EE53CC;
  padding-left: 7%;
  margin-left: 10%;
}

.btn {
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 35px;
  border: solid #EE53CC 2px;
  color: #000000;
  background: #EE53CC;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  margin: 5px;
}

.btn:hover {
  color: #EE53CC;
  background: #000000;
  border: solid #EE53CC 2px;
}

@media (min-width: 769px) {
  .nav {
      position: static;
      flex-direction: row;
      background: none;
      transform: none;
      opacity: 1;
  }

  .collapse {
      display: none;
  }

  .navbar {
      display: none;
  }
}

@media (max-width: 768px) {
  .big-screen {
      display: none;
  }

  .navbar a img.logo {
      max-height: 60px;
      width: auto;
      display: block;
  }
  
  .navbar a {
      display: flex;
      align-items: center;
      height: auto;
      padding: 0;
      margin: 0;
  }

  .collapse {
      background-color: black !important;
  }

  .navbar {
      background-color: #000000;
  }

  .bg-dark {
      background-color: #000000 !important;
  }

  .navbar-toggler {
      border-color: white;
  }

}
